.card {
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid black !important;
    width: 30%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #f5e8d9 !important;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.confirm, .reject{
    width: 75px;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
}

.confirm:hover{
    background-color: #00a00b;
    color: white;
}

.reject:hover{
    background-color: #b1000c;
    color: white;
}